* {
  margin: 0px;
  padding: 0px;
}

#nav_meny {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  padding-top: 5px;
}

.meny_div{
  background-color: green;  
  margin: 5px auto;
  width: 20%;
  height: 50px;
  font-size: 30px;
}

.meny_element {
  text-align: center;
  text-decoration: none;
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

h1,h3,h4,form {
  text-align: center;
}

#sokefelt {
  display: inline;
}

#boktabell table {
  margin: auto;
  border: 2px solid black;
}

#boktabell th {
  background-color: white;
}

#boktabell tr:nth-child(even) {
  background-color: pink;
}

#boktabell td {
  padding: 5px;
}

.innhold{
  background-color: pink;
  width: 80%;
  margin: auto;
}


