* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

body {
  background-color: whitesmoke;
}

#bildelogo {
  height: 109%;
  border: 1px solid black;
}

#nav_meny {
  background-color: #00b0c6;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding-top: 5px;
}

.element_div {
  margin: 0px auto;
  width: 20%;
  height: 100px;
  font-size: 28px;
}

.meny_element {
  text-decoration: none;
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

.sideoverskrift {
  text-align: center;
}

.innhold {
  width: 100%;
  margin: auto;
}


h3, h2{
  text-align: center;
}

.boktips_main{
  flex-wrap:wrap;
  
  flex-direction:row;
 }

.header{
  flex-basis:1;
}

.boktips_innhold{
  display:flex;
}

.boktips_bokser{
  width: 33%;
  margin: 10px;
  font-size: 20px;
  border: 2px solid black;
  padding:2px;
}

